---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getBlogs } from "@/lib/microcms";
const response = await getBlogs({ fields: ["id", "title"] });
---

<BaseLayout>
  <h1>ブログ一覧</h1>
  <div class="mt-16">
		<ul>
      {
        response.contents.map((content: any) => (
          <li>
            <a href={content.id}>{content.title}</a>
          </li>
        ))
      }
    </ul>
	</div>
</BaseLayout>
