---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
---

<BaseLayout
  title="ページが見つかりませんでした"
  structuredData={{
    type: "BreadcrumbList",
    option: {
      itemListElement: [
        {
          "@type": "ListItem",
          position: 1,
          name: "ホーム",
          item: Astro.site,
        },
        {
          "@type": "ListItem",
          position: 2,
          name: "ページが見つかりませんでした",
        },
      ],
    },
  }}
>
  <div class="container py-16">
    <Breadcrumb
      lists={[
        {
          name: "ページが見つかりませんでした",
        },
      ]}
    />
    <h1 class="text-3xl">ページが見つかりませんでした。</h1>
    <a href="/" class="btn btn-secondary mt-6">ホームに戻る</a>
  </div>
</BaseLayout>
