---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="hero min-h-screen">
    <div class="hero-content">
      <div class="space-y-6">
        <h1
          class="text-4xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none"
        >
          Welcome to My Site
        </h1>
        <p class="max-w-[500px] text-lg text-muted-foreground">
          僕のエンジニア活動のパーソナルサイトです。技術発信や、開発したものを載せていきます。
        </p>
        <a href="/blog/p/1" class="btn btn-primary"> ブログを覗いてみる</a>
      </div>
    </div>
  </section>
</BaseLayout>
