---
import type { Article } from '@/libs/microcms';
import ArticleListItem from './ArticleListItem.astro';

interface Props {
  articles?: Article[];
}

const { articles } = Astro.props

if (!articles) {
  return null;
}

---
{articles.length === 0 ? (
  <p>Article does not exist.</p>
) : (
  <ul>
    {articles.map((article) => (
        <ArticleListItem article={article} />
      ))}
  </ul>
)}