---
import type { Tag } from "@/libs/microcms";
import TagList from "./TagList.astro";

interface Props {
  tags: Tag[];
}

const { tags } = Astro.props;
---

<nav class="py-4">
  <TagList tags={tags} />
</nav>
