---
interface ListItem {
  path: string;
  name: string;
}
const { lists } = Astro.props;
---

<nav aria-label="Breadcrumb" class="text-sm breadcrumbs mb-4">
  <ul>
    <li>
      <a href="/"> ホーム</a>
    </li>
    {
      lists.map((list: ListItem, index: number) => (
        <li class="flex gap-1 items-center">
          {lists.length - 1 !== index ? (
            <a href={`${list.path}`}>{list.name}</a>
          ) : (
            list.name
          )}
        </li>
      ))
    }
  </ul>
</nav>
