---
import ThemeToggle from "./ThemeToggle.astro";
const navigation = [
  {
    name: "ホーム",
    href: "/",
  },
  {
    name: "ブログ",
    href: "/blog/p/1",
  },
  {
    name: "お問い合わせ",
    href: "/contact"
  }
];
---

<header class="sticky top-0 bg-base-300">
  <nav class="navbar">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost text-xl">Bolsta Tech</a>
    </div>
    <div class="space-x-6">
      <div>
        {
          navigation.map((item) => (
            <a href={item.href} class="btn btn-ghost">
              {item.name}
            </a>
          ))
        }
      </div>
      <div class="px-4">
        <ThemeToggle />
      </div>
    </div>
  </nav>
</header>
