---
const navigation = [
  {
    name: "ホーム",
    href: "/",
  },
  {
    name: "ブログ",
    href: "/blog/p/1",
  },
];
---
<header class="sticky top-0 bg-base-300">
  <nav class="navbar justify-center">
    {
      navigation.map((item) => (
        <a href={item.href} class="btn btn-ghost">
          {item.name}
        </a>
      ))
    }
  </nav>
</header>