---
import type { Tag } from "@/libs/microcms";

interface Props {
  tag: Tag;
  hasLink?: boolean;
}

const { tag, hasLink = true } = Astro.props;
---

{
  hasLink ? (
    <a href={`/blog/tags/${tag.id}/p/1`} class="btn btn-xs">#{tag.name}</a>
  ) : (
    <span class="btn btn-xs">#{tag.name}</span>
  )
}
