---
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogNav from "@/components/BlogNav.astro";
import { getTagList, getTag } from "@/libs/microcms";
import Breadcrumb from "@/components/Breadcrumb.astro";

interface Props {
  tagId: string;
}

const { tagId } = Astro.props;

const tags = await getTagList({fields: ["id", "name"]});
const tag = await getTag(tagId);
---

<BaseLayout title={`ブログ [タグ：${tag.name}]`}>
  <div class="container py-16">
    <Breadcrumb
      lists={[
        {
          name: "ブログ一覧",
          path: "/blog/p/1"
        },
        {
          name: `タグ：${tag.name}`
        }
      ]}
    />
    <h1 class="text-3xl">ブログ タグ：{tag.name}</h1>
    <BlogNav tags={tags.contents} />
    <div class="mt-16">
      <slot />
    </div>
  </div>
</BaseLayout>
